# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc

# Only exists if Bazel was run
/bazel-out

# Dependencies
/node_modules
package-lock.json

# System Files
.DS_Store
Thumbs.db

# Profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# Logs
/libpeerconnection.log
logs
*.log
npm-debug.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*
lerna-debug.log*
testem.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs and editors
/.idea
.c9/
.settings/
*.launch
*.sublime-workspace
.classpath
.project
.vscode
.vscode/
/.vscode

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.npmrc
