<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="input-name">Name</label>
          <input
            #inputName
            type="text"
            id="input-name"
            class="form-control"
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="input-amount">Amount</label>
          <input
            #inputAmount
            type="number"
            id="input-amount"
            class="form-control"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            (click)="onAddItem()"
          >
            Add
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDeleteItem()"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
