<div class="row">
  <div class="col-xs-12">
    <form
      #form="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="input-name">Name</label>
          <input
            #inputName
            type="text"
            id="input-name"
            name="name"
            class="form-control"
            appAutoFocus
            ngModel
            required
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="input-amount">Amount</label>
          <input
            type="number"
            id="input-amount"
            name="amount"
            class="form-control"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <button
            type="submit"
            class="btn btn-success btn-block"
            [disabled]="!form.valid"
          >
            {{ editMode ? 'Update' : 'Add' }}
          </button>
        </div>
        <div
          class="col-xs-2"
          *ngIf="editMode"
        >
          <button
            type="button"
            class="btn btn-danger btn-block"
            (click)="onDeleteItem()"
          >
            Delete
          </button>
        </div>
        <div class="col-xs-2">
          <button
            type="button"
            class="btn btn-primary btn-block"
            [disabled]="!form.dirty"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
